<as-split direction="horizontal" unit="percent" (dragEnd)="onResizeEnded($event)">
  <as-split-area [size]="pohodaSize" minSize="30">
    <div class="section mat-elevation-z1">
      <div class="title">Pohoda</div>
      <app-dropzone label="Přetáhni excel pohody" (fileChange)="onPohodaFileUploaded($event)"></app-dropzone>
      <app-pohoda-grid *ngIf="pohodaRowData" [data]="pohodaRowData"></app-pohoda-grid>
    </div>
  </as-split-area>
  <as-split-area [size]="crzSize" minSize="30">
    <div class="section mat-elevation-z1">
      <div class="title">CRZ</div>
      <app-dropzone label="Přetáhni excel crzu" (fileChange)="onCrzFileUploaded($event)"></app-dropzone>
      <app-crz-grid *ngIf="crzRowData" [data]="crzRowData"></app-crz-grid>
    </div>
  </as-split-area>
</as-split>
