<mat-tab-group color="accent">
  <mat-tab label="Pohoda/CRZ">
    <as-split direction="horizontal" unit="percent" (dragEnd)="onResizeEnded($event)">
      <as-split-area [size]="pohodaSize" minSize="30">
        <div class="section">
          <div class="title">
            Pohoda
            <button *ngIf="pohodaRowData" mat-icon-button (click)="onPohodaCloseClick()">
              <mat-icon class="material-symbols-outlined">close</mat-icon>
            </button>
          </div>
          <app-dropzone
            *ngIf="!pohodaRowData"
            label="Přetáhni excel pohody"
            (fileChange)="onPohodaFileUploaded($event)"
          ></app-dropzone>
          <app-pohoda-grid *ngIf="pohodaRowData" [data]="pohodaRowData"></app-pohoda-grid>
        </div>
      </as-split-area>
      <as-split-area [size]="crzSize" minSize="30">
        <div class="section">
          <div class="title">
            CRZ
            <button *ngIf="crzRowData" mat-icon-button (click)="onCrzCloseClick()">
              <mat-icon class="material-symbols-outlined">close</mat-icon>
            </button>
          </div>
          <app-dropzone
            *ngIf="!crzRowData"
            label="Přetáhni excel crzu"
            (fileChange)="onCrzFileUploaded($event)"
          ></app-dropzone>
          <app-crz-grid *ngIf="crzRowData" [data]="crzRowData"></app-crz-grid>
        </div>
      </as-split-area>
    </as-split>
    <div class="button">
      <button [disabled]="!crzRowData || !pohodaRowData" mat-flat-button color="accent" (click)="onCalculateClick()">
        Přepočítat
      </button>
    </div>
  </mat-tab>
  <mat-tab label="Faktury">
    <div class="faktury">
      <app-dropzone label="Přetáhni fakturu v .icodoc" (fileChange)="onFakturaFileUploaded($event)"></app-dropzone>
      <app-faktura-grid *ngIf="fakturaRowData" [data]="fakturaRowData"></app-faktura-grid>
    </div>
  </mat-tab>
</mat-tab-group>
